<p>* 現在、本番環境を構築中です。ご利用はご遠慮ください。</br>
正式サービスイン以前の本サービスの利用による不利益に関しては、一切の責任を持てません。</p>
<div class="jumbotron">
  	<h1><%= t('.title') %></br>
  		<small><%= t('.subtitle') %></small>
  	</h1>
	<%= image_tag('gesomaru.png')%>
	<%= image_tag('takomi.png')%>
    <h2><%= t('.sentence0') %></h2></br>
    	<p><%= t('.sentence1') %></br>
    	<p><%= t('.sentence2') %></br>
    	<p><%= t('.sentence3') %></br></br>
  	<% unless signed_in? %>
		<%= link_to t('.new_user'), new_user_path, :class => "btn btn-default"%>
	<% end %>
</div>