<%= form_for(@game_asset) do |f| %>
<!--エラーメッセージ-->
  <% if @game_asset.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <%= pluralize(@game_asset.errors.count,"") %><%= t('.error_sub')%>
      </div>
      <ul>
      <% @game_asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--入力エリア-->
<div class="col-lg-9">
<ol class="breadcrumb">
  <li>STEP1: 仮登録</li>
  <li class="active">STEP2: 商品説明</li>
  <li>STEP3: ファイルのアップロード</li>
</ol>
    <h3>仮登録情報</h3><hr>
    <div class="well">
    名前：　<%= @game_asset.name %></br>
    価格：　<%= @game_asset.price %></br>
    カテゴリ：　<%= @game_asset.main_category %></br>
    </div>
    <h3>商品情報　詳細</h3><hr>
    <%= f.label "タイプ" %>
    <%= f.select :sub_category, {"背景"=>'background'} %></br></br>

    <%= f.label t('.sales_copy'), :class => 'control-label' %>
    <p><%= t('.sales_copy_sub') %></p>
    <%= f.text_field :sales_copy, :class => 'form-control' %></br>

    <%= f.label t('.sales_body'), :class => 'control-label' %>
    <p><%= t('.sales_body_sub') %></p>
    <%= f.text_area :sales_body, :class => 'form-control', rows:10 %></br>

    <%= f.label t('.sales_closing'), :class => 'control-label' %>
    <p><%= t('.sales_closing_sub') %></p>
    <%= f.text_area :sales_closing, :class => 'form-control', rows:5 %></br>

    <%= f.submit t('.submit'), :action => 'step2', :method => :patch , :class => 'btn btn-primary'%></br></br>
<% end %>
</div>