<!--エラーメッセージ-->
  <% if @game_asset.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <%= pluralize(@game_asset.errors.count,"") %><%= t('.error_sub')%>
      </div>
      <ul>
      <% @game_asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-fluid">
  <div class="col-lg-6">
    <%= form_tag(thumbnail_game_asset_path, :multipart => true) do %>
      <%= label_tag "サムネイル（.pngのみ 1MBまで 128px*128px表示）" %></br>
      ＊ファイルチェックに少々時間がかかります。アップロードボタンを何度も押さないでください。</br>
        <%= file_field_tag :thumb, accept: 'image/png', :class => "form-control" %></br>
        <%= hidden_field_tag :id, @game_asset.id %>
        <%= submit_tag 'アップロード', :data => { :disable_with => "確認中……" }, :class => "btn btn-warning" %>
      <% end %></br>
  </div>
    <div class="col-lg-6 well">
    <%= image_tag "/assets/thumbs/thumbnail_#{@game_asset.id}.png", :width => '128', :height => '128', :alt => "サムネイル未登録" %>
  </div>
</div>
<div class="container-fluid">
  <div class="col-lg-12">
    <%= form_tag(screenshot_game_asset_path, :multipart => true) do %>
        <%= label_tag "スクリーンショット（.pngのみ 1枚辺り1MBまで 3枚まで 256px*256px表示）" %></br>
        ＊ファイルチェックに少々時間がかかります。アップロードボタンを何度も押さないでください。</br>
        <%= file_field_tag "screenshots[]", :multiple => true, accept: 'image/png', :class => "form-control"  %></br>
        <%= hidden_field_tag :id, @game_asset.id %>
        <%= submit_tag 'アップロード', :data => { :disable_with => "確認中……" }, :class => "btn btn-warning" %>
      <% end %>
  </div>
</div>
<%= render :partial => 'screenshots', :locals => { :asset => @game_asset } %>

<%= form_for(@game_asset) do |f| %>
<!--入力エリア-->
<div class="container-fluid">
  <div class="col-lg-12">
      <%= f.label t('.name'), :class => 'control-label' %></br>
      <h3><%= @game_asset.name %></h3></br>

      <%= f.label "ライセンス", :class => 'control-label' %></br>
      <%= render :partial => "creative_commons", :locals => { :license => @game_asset.license } %>

      <%= f.label t('.price'), :class => 'control-label' %></br>
      <%= f.number_field :price %><%= t('.yen') %></br></br>

      <%= f.label "カテゴリ", :class => 'control-label' %></br>
      <p><%= MainCategory.find(@game_asset.main_category).name %></p></br>

      <%= f.label "タイプ", :class => 'control-label' %></br>
      <%= f.select :sub_category, options_from_collection_for_select(SubCategory.where(parent_id: @game_asset.main_category), :id, :name), :prompt => "素材のタイプを選んで下さい", :class => "form-control"%></br></br>

      <%= f.label "ゲームジャンル", :class => 'control-label' %></br>
      <%= f.select :genre, options_from_collection_for_select(Genre.all, :id, :name), :prompt => "主に使用を想定しているゲームジャンルを選んで下さい。", :class => "form-control"%></br></br>

      <%= f.label "ホームページアドレス", :class => 'control-label' %>
      <%= f.text_field :promo_url, :class => 'form-control' %></br>

      <%= f.label t('.sales_copy'), :class => 'control-label' %>
      <p><%= t('.sales_copy_sub') %></p>
      <%= f.text_field :sales_copy, :class => 'form-control' %></br>

      <%= f.label t('.sales_body'), :class => 'control-label' %>
      <p><%= t('.sales_body_sub') %></p>
      <%= f.text_area :sales_body, :class => 'form-control', rows:10 %></br>

      <%= f.label t('.sales_closing'), :class => 'control-label' %>
      <p><%= t('.sales_closing_sub') %></p>
      <%= f.text_area :sales_closing, :class => 'form-control', rows:5 %></br>

      <div class="well">
      <%= f.label "公開", :class => 'control-label' %></br>
      <%= f.check_box :make_public, {}, true, false %>
      <%= f.label "素材を公開する", :class => 'control-label' %></br>
      </div>
    </div>
  <div class="container-fluid">
    <div class="col-lg-6">
      <%= f.submit t('.submit'), :class => 'btn btn-primary'%></br></br><% end %>
    </div>
    <% if @game_asset.downloaded_times == 0 %>
    <div class="col-lg-6">
        <%= link_to '削除', game_asset_path(@game_asset), method: 'DELETE', :class => "btn btn-danger pull-right" %>
    </div>
    <% end %>
  </div>
</div>

