<%= form_for(@game_asset) do |f| %>
<!--エラーメッセージ-->
  <% if @game_asset.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <%= pluralize(@game_asset.errors.count,"") %><%= t('.error_sub')%>
      </div>
      <ul>
      <% @game_asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--入力エリア-->
<div class="col-lg-9">
    <h3>商品情報 概要</h3><hr>
    <%= f.label "カテゴリ", :class => 'control-label' %></br>
    <%= f.select :main_category, {"グラフィック"=>'Graphic', "コード"=>'Code'}, :class => 'form-control' %></br></br>

    <%= f.label t('.name'), :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control' %></br>

    <%= f.label t('.price'), :class => 'control-label' %></br>
    <%= f.number_field :price %><%= t('.yen') %></br></br>

    <%= f.hidden_field :make_public, :value => 0 %>

    <%= f.submit t('.submit'), :class => 'btn btn-primary'%></br></br>
<% end %>
</div>