<%= form_for(@game_asset) do |f| %>
<!--エラーメッセージ-->
  <% if @game_asset.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <%= pluralize(@game_asset.errors.count,"") %><%= t('.error_sub')%>
      </div>
      <ul>
      <% @game_asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--入力エリア-->
<div class="col-lg-9">
	<ol class="breadcrumb">
	  <li>STEP1: 仮登録</li>
	  <li>STEP2: 商品説明</li>
	  <li class="active">STEP3: ファイルのアップロード</li>
	</ol>
	<h3>関連ファイル</h3>
	<p>＊アップロードにはかなり時間がかかります。気長にお待ち下さい。</p>
	<hr>
	<%= f.label 'サムネイルファイル', :class => 'control-label' %></br>
    <%= f.file_field :thumbnail %></br></br>

    <%= f.submit "アップロード", :class => 'btn btn-primary' %></br></br>
</div>
<% end %>