<h1>Listing game_assets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_assets.each do |game_asset| %>
      <tr>
        <td><%= game_asset.name %></td>
        <td><%= game_asset.user_id %></td>
        <td><%= link_to 'Show', game_asset %></td>
        <td><%= link_to 'Edit', edit_game_asset_path(game_asset) %></td>
        <td><%= link_to 'Destroy', game_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game asset', new_game_asset_path %>
