<div class="page-header">
  <h1><%= t('.title')%>
      <% if params[:main_category] != nil %>
      <small><%= "#{MainCategory.find(params[:main_category]).name}" %></small>
      <% end %>
</h1>
</div>
<!--検索フォーム-->
<%= form_tag game_assets_path, :method => 'get' do %>
<div class='container-fluid'>
  <p>
    <div class='col-lg-8'>
    <%= text_field_tag :search, params[:search], :class => 'form-control' %>
  </div>
  <div class='col-lg-4'>
    <%= submit_tag t('.search'), :name => nil, :class => 'btn btn-info' %>
  </div>
  </p>
</div>
<hr>
<div class="container-fluid">
  <div class="col-lg-3">
    <% if params[:main_category] != nil %>
      <%= hidden_field_tag :main_category, @main_category%>
      <%= select_tag(:sub_category, options_from_collection_for_select(@sub_categories, :id, :name, params[:sub_category]), :prompt => "素材タイプ", :class =>'form-control', :onchange => "this.form.submit()") %>
    <% end %>
  </div>
    <div class="col-lg-3">
      <%= select_tag(:order, options_for_select(
      {"評価順"=>'rating desc', "価格"=>'price asc', "ダウンロード数"=>'downloaded_times desc'}, params[:order]
      ), :prompt => "並べ替え", :class =>'form-control', :onchange => "this.form.submit()") %>
  </div>
</div>
<% end %>

<!--一覧-->
<div class='container-fluid'>
<%= will_paginate :previous_label => t('.previous_page'), :next_label => t('.next_page'), renderer: BootstrapPagination::Rails %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>サムネイル</th>
        <th><%= t('.asset_name') %></br>作者名</th>
        <th><%= t('.asset_copy')%></th>
        <th>ダウンロード数</br>価格</br>評価</th>
      </tr>
    </thead>
    <tbody>
      <% @game_assets.each do |game_asset| %>
        <tr>
          <td><%= image_tag "/assets/thumbs/thumbnail_#{game_asset.id}.png", :width => '100', :height => '100' %></td>
          <td>商品名：<%= link_to game_asset.name, game_asset %></br>作者：<%= User.find(game_asset.user_id).name %></td>
          <td><%= game_asset.sales_copy %></td>
          <td>DL：<%= game_asset.downloaded_times %></br>価格：<%= game_asset.price %>円</br>評価：<%= game_asset.rating %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= will_paginate :previous_label => t('.previous_page'), :next_label => t('.next_page'), renderer: BootstrapPagination::Rails %>
</div>


