<div class="row">
	<div class="col-lg-4">
		<%= image_tag "/assets/thumbs/thumbnail_#{@game_asset.id}.png", :width => '248', :height => '248' %>
	</div>
	<div class="col-lg-8">
		<div class="page-header">
			<h1><%= @game_asset.name.titleize %></h1>
		</div>
		<div data-no-turbolink>
			<%= link_to "購入する", :action=>'download' %>
		</div>
	</div>
</div>

<div class="row">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-8">
	<h3>商品情報</h3><hr>
	  <section>
	  	<p><span class="label label-success">商品説明</span></p>  
	  	<p><strong><%= @game_asset.sales_copy %></strong></p>
	  	<p><%= @game_asset.sales_body %></p>
	    <p><%= @game_asset.sales_closing %></p>
	    <p><span class="label label-warning">リンク</span></p>
	    <p><%= link_to @game_asset.promo_url, @game_asset.promo_url %></p>
	  </section>
	  <section>
	  	<p><span class="label label-info">作者</span>  <%= link_to @author.name, user_path(@author) %></p>
	  	<p><span class="label label-info">ダウンロード数</span>  <%= @game_asset.downloaded_times %></p>
	  	<p><span class="label label-info">価格</span>  <%= @game_asset.price %></p>
	  </section>
	  <% if @game_asset.reviews.any? %>
	  <hr><h3>レビュー</h3>
      	<table class="table table-hover">
	  		<thead>
	  			<th>評価</th>
	  			<th>コメント</th>
	  			<th>レビュアー</th>
	  		</thead>
	  		<% @game_asset.reviews.each do |review| %>
	  		<tbody>
	  			<td><%= review.rating %></td>
	  			<td><%= review.text %></td>
	  			<td><%= User.find(review.reviewer_id).name %></td>
	  		</tbody>
	  		<% end %>
	  	</table>
	  <% end %>
  	<%= form_tag("thumbnail_check", :multipart => true) do %>
  		<%= label_tag "サムネイル" %>
	  	<%= file_field_tag :thumb %>
	  	<%= hidden_field_tag :id, @game_asset.id %>
	  	<%= submit_tag 'アップロード'%>
  	<% end %>
  	<%= form_tag("screenshot_check", :multiple => true, :multipart => true) do %>
  		<%= label_tag "スクリーンショット" %>
	  	<%= file_field_tag :sss %>
	  	<%= hidden_field_tag :id, @game_asset.id %>
	  	<%= submit_tag 'アップロード'%>
  	<% end %>
	</div>
</div>

