<div class="container-fluid">
	<div class="col-lg-8">
		<div class="page-header">
			<h1><%= @game_asset.name.titleize %></h1>
		</div>
		<div data-no-turbolink><p>
			<% if @author != current_user %>
				<% if @is_bought_asset == true %>
					<%= link_to "購入済み", "/users/#{current_user.id}/bought_assets" %>
					<div class="btn btn-default"><%= link_to "ダウンロード", :action=>'download' %></div>
				<% else %>
					<div class="btn btn-default"><%= link_to "カートに追加する", :action=> 'add_to_cart' %></div>
				<% end %>
			<% end %>
		</p></div>
	</div>
	<div class="col-lg-4">
		<%= image_tag "/assets/thumbs/thumbnail_#{@game_asset.id}.png", :width => '124', :height => '124' %>
	</div>
</div>
<% if @author == current_user %>
<div class="container-fluid well">
	<div class="col-lg-4">
		<%= form_tag("#{@game_asset.id}/thumbnail_check", :multipart => true) do %>
			<%= label_tag "サムネイル" %></br>
				<% if File.exists?("/public/assets/thumbs/thumbnail_#{@game_asset.id}.png") %>
					<div class="label label-warning">サムネイルが登録されていません</div>
				<% else %>
					<div class="label label-success">サムネイル登録済み</div>
				<% end %>
		  	<%= file_field_tag :thumb %>
		  	<%= hidden_field_tag :id, @game_asset.id %>
		  	<%= submit_tag 'アップロード'%>
	  	<% end %></br>
	</div>
	<div class="col-lg-4">
		<%= form_tag("#{@game_asset.id}/screenshot_check", :multipart => true) do %>
	  		<%= label_tag "スクリーンショット" %></br>
	  			<% if File.exists?("/assets/screenshots/ss1_asset#{@game_asset.id}.png") %>
	  				<div class="label label-warning">スクリーンショットが登録されていません</div>
	  			<% else %>
	  				<div class="label label-success">スクリーンショット登録済み</div>
				<% end %>
		  	<%= file_field_tag "screenshots[]", :multiple => true %>
		  	<%= hidden_field_tag :id, @game_asset.id %>
		  	<%= submit_tag 'アップロード'%>
	  	<% end %>
	</div>
	<div class="col-lg-4">
	  	<%= form_tag("upload", :multipart => true) do %>
	  		<%= label_tag "素材ファイル" %>
		  	<%= file_field_tag :file %>
		  	<%= hidden_field_tag :id, @game_asset.id %>
		  	<%= submit_tag 'アップロード'%>
	  	<% end %>
	</div>
</div>
<% end %>
<div class="container-fluid">
	<div class="col-lg-4">
		<%= image_tag "/assets/screenshots/ss1_asset#{@game_asset.id}.png", :width => '248', :height => '248' %>
	</div>
	<div class="col-lg-4">
		<%= image_tag "/assets/screenshots/ss2_asset#{@game_asset.id}.png", :width => '248', :height => '248' %>
	</div>
	<div class="col-lg-4">
		<%= image_tag "/assets/screenshots/ss3_asset#{@game_asset.id}.png", :width => '248', :height => '248' %>
	</div>
</div>
<div class="container-fluid">
  <div class="col-lg-12">
	<h3>商品情報</h3><hr>
	  <panel>
	  	<header>
	  	<p><span class="label label-success">商品説明</span></p>  
	  	</header>
	  	<p><strong><%= @game_asset.sales_copy %></strong></p>
	  	<p><%= @game_asset.sales_body %></p>
	    <p><%= @game_asset.sales_closing %></p>
	    <p><span class="label label-warning">リンク</span></p>
	    <p><%= link_to @game_asset.promo_url, @game_asset.promo_url %></p>
	  </panel>
	  <panel>
	  	<p><span class="label label-info">作者</span>  <%= link_to @author.name, user_path(@author) %></p>
	  	<p><span class="label label-info">ダウンロード数</span>  <%= @game_asset.downloaded_times %></p>
	  	<p><span class="label label-info">価格</span>  <%= @game_asset.price %></p>
	  </panel>
	  <% if @game_asset.reviews.any? %>
	  <hr><h3>レビュー</h3>
      	<table class="table table-hover">
	  		<thead>
	  			<th>評価</th>
	  			<th>コメント</th>
	  			<th>レビュアー</th>
	  		</thead>
	  		<% @game_asset.reviews.each do |review| %>
	  		<tbody>
	  			<td><%= review.rating %></td>
	  			<td><%= review.text %></td>
	  			<td><%= User.find(review.reviewer_id).name %></td>
	  		</tbody>
	  		<% end %>
	  	</table>
	  <% end %>
	</div>
</div>

