<div class="container-fluid">
	<div class="col-lg-8">
		<div class="page-header">
			<h1><%= @game_asset.name.titleize %></h1></br>
		</div>
		<div class="page-body"><p>
			<% if @author != current_user %>
				<% if @game_asset.price == 0 %>
						<%= form_tag(free_asset_game_asset_path) do %>
						<%= submit_tag'無料', :class => "btn btn-primary" %>
						<% end %>
				<% else %>
					<% if @is_bought_asset == true %>
						<%= link_to "購入済み", bought_assets_user_path, :class => "btn btn-default" %>
					<% else %>
						<%= form_tag(cart_game_asset_path) do %>
						<%= submit_tag'カートに追加する', :class => "btn btn-primary" %>
						<% end %>
					<% end %>
				<% end %>
			<% else %>
				<%= link_to "素材情報編集", edit_game_asset_path, :class => "btn btn-warning" %>
			<% end %>
		</p></div>
	</div>
	<div class="col-lg-4">
		<%= image_tag "/assets/thumbs/thumbnail_#{@game_asset.id}.png", :width => '124', :height => '124' %>
		<%= render partial: "creative_commons", locals: {:license => @game_asset.license} %>
	</div>
</div>
<% if @author == current_user %>
<% end %>
<%= render :partial => 'screenshots', :locals => { :asset => @game_asset } %>
<div class="container-fluid">
  <div class="col-lg-12">
	<h3>商品情報</h3><hr>
	<panel>
	  	<p><span class="label label-default">カテゴリ/素材タイプ/ジャンル</span></p> 
	  	<p><%= MainCategory.find(@game_asset.main_category).name %>/<% if @game_asset.sub_category != nil %><%= SubCategory.find(@game_asset.sub_category).name %><% end %>/<% if @game_asset.genre != nil %><%= Genre.find(@game_asset.genre).name%><% end %></p>
	</panel>
	  <panel>
	  	<header>
	  	<p><span class="label label-success">商品説明</span></p>  
	  	</header>
	  	<p><strong><%= @game_asset.sales_copy %></strong></p>
	  	<p><%= @game_asset.sales_body %></p>
	    <p><%= @game_asset.sales_closing %></p>
	    <p><span class="label label-warning">リンク</span></p>
	    <p><%= link_to @game_asset.promo_url, @game_asset.promo_url %></p>
	  </panel>
	  <panel>
	  	<p><span class="label label-info">作者</span>  <%= link_to @author.name, user_path(@author) %></p>
	  	<p><span class="label label-info">ダウンロード数</span>  <%= @game_asset.downloaded_times %></p>
	  	<p><span class="label label-info">価格</span>  <%= @game_asset.price %></p>
	  </panel>
	  <% if @game_asset.reviews.any? %>
	  <hr><h3>レビュー</h3>
      	<table class="table table-hover">
	  		<thead>
	  			<th>評価</th>
	  			<th>コメント</th>
	  			<th>レビュアー</th>
	  		</thead>
	  		<% @game_asset.reviews.each do |review| %>
	  		<tbody>
	  			<td><%= review.rating %></td>
	  			<td><%= review.text %></td>
	  			<td><%= User.find(review.reviewer_id).name %></td>
	  		</tbody>
	  		<% end %>
	  	</table>
	  <% end %>
	</div>
</div>

