<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>
  <div class="container">
    <%= render 'shared/error_messages', object: f.object %>
  </div>
  <div class="container">
    <div class="col-lg-6">
      <%= f.label "名前（ニックネーム可）", :class => 'control-label' %>
      <%= f.text_field :name, :class => 'form-control' %>
      <%= error_span(@user[:name]) %>

      <%= f.label "メールアドレス", :class => 'control-label' %>
      <%= f.text_field :email, :class => 'form-control' %>
      <%= error_span(@user[:email]) %>

      <%= f.label "自己紹介文", :class => 'control-label' %>
      <%= f.text_area :profile_text, :class => 'form-control' %>
      <%= error_span(@user[:profile_text]) %>

      <%= f.label "パスワード", :class => 'control-label' %>
      <%= f.password_field :password, :class => 'form-control' %>
      <%= error_span(@user[:password]) %>

      <%= f.label "パスワード確認", :class => 'control-label' %>
      <%= f.password_field :password_confirmation, :class => 'form-control' %>
      <%= error_span(@user[:password_confirmation]) %>
      
      <%= f.submit "登録する", :class => 'btn btn-primary' %>
      <%= link_to "キャンセル", users_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>