<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>
  <div class="container-fluid">
    <%= render 'shared/error_messages', object: f.object %>
  </div>
  <div class="container-fluid">
    <div class="col-lg-8">
      <%= f.label t('.name'), :class => 'control-label' %>
      <%= f.text_field :name, :class => 'form-control' %>
      <%= error_span(@user[:name]) %>

      <%= f.label t('.email'), :class => 'control-label' %>
      <%= f.text_field :email, :class => 'form-control' %>
      <%= error_span(@user[:email]) %>

      <%= f.label t('.profile_text'), :class => 'control-label' %>
      <%= f.text_area :profile_text, :class => 'form-control', rows:10 %>
      <%= error_span(@user[:profile_text]) %>

      <%= f.label t('.url'), :class => 'control-label' %>
      <%= f.text_field :url, :class => 'form-control' %>
      <%= error_span(@user[:url]) %><hr>

      <%= f.label t('.password'), :class => 'control-label' %>
      <%= f.password_field :password, :class => 'form-control' %>
      <%= error_span(@user[:password]) %><br>
      
      <%= f.submit t('.submit'), :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>