<div class="page-header">
  <h1>購入済み</h1>
</div>
<div class="container-fluid">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>サムネイル</th>
        <th>商品名</br>作者名</th>
        <th>商品説明</th>
        <th>ライセンス</th>
        <th>ダウンロード</th>
        <th>レビュー</th>
      </tr>
    </thead>
    <tbody>
    	<% @assets.each do |asset| %>
		<tr>
			<td>
				<%= image_tag "/assets/thumbs/thumbnail_#{asset.id}.png", :width => '100', :height => '100' %>
			</td>
			<td>
				<%= link_to asset.name, "/game_assets/#{asset.id}" %></br>
				<%= link_to User.find(asset.user_id).name, "#" %>
			</td>
			<td>
				<p><%= asset.sales_copy %></p>
			</td>
			<td>
				<%= render partial: "creative_commons", locals: {:license => asset.license} %>
			</td>
			<td>
				<div class="btn btn-default"><%= link_to "ダウンロード", :controller=>'game_assets', :action=>'download', :id => asset.id %></div>
			</td>
			<td>
				<% if Review.find_by(reviewer_id: current_user.id, game_asset_id: asset.id) %>
				<%= link_to 'レビューを変更する', "/game_assets/#{asset.id}/review_edit" %></br>				
				<% else %>
				<%= link_to 'レビューを書く', "/game_assets/#{asset.id}/review_new" %></br>
				<% end %>
			</td>
		</tr>
		<% end %>
    </tbody>
</table>
</div>
