<div class="col-lg-6">
	<div class="page-header">
		<h1><%= t('.title') %></h1>
	</div>
	<%= form_tag('forgot_password') do %>
		<p><%= t('.sentence1') %></p>
		<p><%= t('.sentence2') %></p><br>
		<%= label_tag(:label, "メールアドレス", :class=>'control-group') %><br>
		<%= text_field_tag(:address, "", :class=>'form-control') %><br>
		<%= submit_tag("送信",:class=>'btn btn-primary') %>
	<% end %>
</div>