<%- model_class = User -%>
<div class="page-header">
  <h1><%= t('.title') %></h1>
</div>

<!--検索フォーム-->
<%= form_tag users_path, :method => 'get' do %>
<div class='container-fluid'>
  <p>
    <div class='col-lg-8'>
    <%= text_field_tag :search, params[:search], :class => 'form-control' %>
  </div>
  <div class='col-lg-4'>
    <%= submit_tag t('.search'), :name => nil, :class => 'btn btn-info' %>
  </div>
  </p>
</div>
<% end %>
<hr>

<div class="pagination col-lg-12">
<%= will_paginate :previous_label => t('.previous_page'), :next_label => t('.next_page'), renderer: BootstrapPagination::Rails %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= t('.name') %></th>
      <th><%= t('.pr') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_for user %></td>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.profile_text %></td>
      </tr>
    <% end %>
  </tbody>
</table>
