<%- model_class = User -%>
<!-- 作者 -->
<div class="page-header">
  <h1><%= @user.name.titleize %></h1>
</div>

<div class="row">
  <div class="col-lg-2">
    <section>
        <%= gravatar_for @user %>
        <!-- フォロー -->
        <%= render 'shared/stats' %>
        <%= render 'follow_form' if signed_in? %>
    </section></br>
  </div>

  <div class="col-lg-9">
    <section> 
          <p><span class="label label-info"><%= t('.profile') %></span></p>
          <p><%= @user.profile_text %></p>
        <% if @user.url %>
            <p><span class="label label-info"><%= t('.url') %></span></p>
            <p><%= link_to @user.url, @user.url %></p>
        <% end %>
    </section>
  </div>
</div>

<!-- 素材 -->
<% if @user.game_assets.any? %>
  <div class="page-header">
    <h1><%= t('.asset_title') %><span class="badge badge-important"><%= @user.game_assets.count%></span><%= t('.num')%></h1>
  </div>

  <div class="row">
    <div class="container col-lg-12">
      <table class="table table-hover">
        <thead>
          <tr><%= t('.asset_name') %></tr>
          <tr><%= t('.asset_pr') %></tr>
          <tr><%= t('.asset_dl') %></tr>
        </thead>
          <% @user.game_assets.each do |g| %>
          <tbody>
              <td><%= link_to g.name, game_asset_path(g) %></td>
              <td><%= g.sales_copy %></td>
              <td><%= g.downloaded_times %></td>
          </tbody>
          <% end %>
      </table>
    </div>
  </div>
<% end %>

  <%= link_to t('.back'), users_path, :class => 'btn btn-default'  %>

  <% if current_user?(@user) %>
    <%= link_to t('.edit'), edit_user_path(@user), :class => 'btn btn-default' %>
  <% end %>

  <% if current_user.admin? && !current_user?(@user) %>
    <%= link_to t('.destroy'), user_path(@user),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>
  <% end %>
