<%- model_class = User -%>
<div class="page-header">
  <h1><%= @user.name.titleize %></h1>
</div>

<!-- 自己紹介 -->
<div class="col-lg-9">
  <section>
    <%= gravatar_for @user %>
    <!-- フォロー -->
    <%= render 'shared/stats' %>
    <%= render 'follow_form' if signed_in? %>
  </section></br>
  <section>  
    <p>自己紹介：<%= @user.profile_text %></p>
    <p>
      <% if @user.url %>
      ホームページ等：
      <%= link_to @user.url, @user.url %>
      <% end %>
    </p>
  </section>

  <!-- 素材 -->
  <% if @user.game_assets.any? %>
    <div class="assets-header">
      <h3>素材<%= @user.game_assets.count%>個</h3>
    </div>

    <ol class="game_assets">
      <%= render 'game_assets' %>
    </ol>
    <%= will_paginate @game_assets %>
  <% end %>

  <%= link_to '戻る', users_path, :class => 'btn btn-default'  %>

  <% if current_user?(@user) %>
    <%= link_to '編集', edit_user_path(@user), :class => 'btn btn-default' %>
  <% end %>

  <% if current_user.admin? && !current_user?(@user) %>
    <%= link_to t('削除', :default => t("helpers.links.destroy")),
    user_path(@user),
    :method => 'delete',
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-danger' %>
  <% end %>
</div>
