  <table class="table table-hover">
    <thead>
      <tr>
        <th>サムネイル</th>
        <th>商品名</br>作者名</th>
        <th>カテゴリ</br>タイプ</br>商品説明</th>
        <th>ダウンロード数</br>価格</br>評価</th>
        <th>ライセンス</th>
        <% if parent == 'cart' %>
	        <th>削除</th>
	    <% elsif parent == 'bought_assets' %>
	    	<th>ダウンロード</br>レビュー</th>
	    <% elsif parent == 'user_profile' %>
	    	<th>素材情報の編集</th>
	    <% end %>
      </tr>
    </thead>
    <tbody>
    	<% sum = 0 %>
		<% assets.each do |asset| %>
		<tr>
			<td>
				<%= link_to image_tag("/assets/thumbs/thumbnail_#{asset.id}.png", :width => '128', :height => '128'), asset %>
			</td>
			<td>
				<%= link_to asset.name, asset %></br>
				<%= link_to User.find(asset.user_id).name, "#" %>
			</td>
			<td>
				<p><%= MainCategory.find(asset.main_category).name %></p></br>
				<% if asset.sub_category != nil %>
				<p><%= SubCategory.find(asset.sub_category).name %></p></br>
				<% end %>
				<p><%= asset.sales_copy %></p>
			</td>
			<td>
				<%= asset.downloaded_times %>回</br>
				<%= asset.price %>円<% sum += asset.price %></br>
				<%= Review.average_rating(asset.id) %>
			</td>
			<td>
				<%= render partial: "creative_commons", locals: {:license => asset.license} %>
			</td>
			<% if parent == 'cart' %>
				<td><%= form_tag('cart', :method => 'patch') do %>
						<%= hidden_field_tag :cart_item_id, i.id %>
						<%= submit_tag "カートから削除", :class => "btn btn-warning" %>
					<% end %>
				</td>
			<% elsif parent == 'bought_assets' %>
				<td>
					<%= form_tag(bought_asset_game_asset_path(asset)) do %>
					<%= submit_tag'ダウンロード', :class => "btn btn-primary" %>
					<% end %>
					<% if Review.find_by(reviewer_id: current_user.id, game_asset_id: asset.id) %>
					<%= link_to 'レビューを変更する', review_edit_game_asset_path(asset), :class => "btn btn-default" %></br>
					<% else %>
					<%= link_to 'レビューを書く', review_new_game_asset_path(asset), :class => "btn btn-default" %></br>
					<% end %>
				<td>
			<% elsif parent == 'user_profile' %>
				<td>
					<%= link_to '編集する', edit_game_asset_path(asset), :class => "btn btn-default" %>
				</td>
			<% end %>
		</tr>
		<% end %>
    </tbody>
</table>
